body {
    background-color: #F4F5F8;
}
.header {
    height: 88px;
    color: #fff;
    background-color: #18437A;
    line-height: 88px;
    padding: 0px 40px 0px 20px;
}
.headerLeft {
    width: 50%;
    float: left;
}
.headerLeft img {
    vertical-align: middle
}
.platform {
    margin-bottom: 7px;
    display: inline-block;
    margin-right: 12px;
    font-size:26px;
    font-family:"Microsoft YaHei";
    font-weight:400;
    color:rgba(255,255,255,1);
    opacity:0.9;
    vertical-align: middle;
  }
.headerRight {
    width: 50%;
    float: left;
    text-align: right;
    position: relative;
}
.userMenu {
    position: absolute;
    width: 100px;
    top: 88px;
    right: -30px;
    border: 1px solid #ccc;
    display: none;
}
.userMenu p {
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #ffffff;
    color: #333333;
    font-size:14px;
    border-top: 1px solid #ccc;
}
.userMenu p:hover {
    background-color: #66b1ff;
    color: #ffffff;
}
.userName {
    font-size:16px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    display: inline-block;
    line-height: 26px;
    height: 26px;
    margin: 0 20px;
}
.content {
    width: 76%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:10px;
    margin-bottom: 30px;
    float: left;
}
/* 常用系统 */
.topLTitle {
    height:49px;
    background-color:rgba(211,231,252);
}
.left_main_top {
    width: 100%;
    height: 382px;
}
.left_main_topL {
    float: left;
    width: 44.5%;
    margin-right: 1%;
    background: #FFFFFF;
    box-shadow:-1px 1px 8px 0px #ccc;
    border-radius:4px;
    height: 100%;
}
.titleMsg {
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:#1D82F0;
    margin-left: 8px;
    vertical-align: middle;
    line-height: 48px;
}
.commonTitle img {
    vertical-align: middle;
    margin-left: 18px;
}
.bodySystems {
    padding-left: 35px;
}
.bodySystems li {
    float: left;
    margin-right: 16%;
    width: 22%;
    height: 112px;
    margin-top: 30px;
    cursor:pointer;
}
.bodySystems li img {
    vertical-align: middle;
}
.bodySystems p {
    font-size:14px;
    font-weight:400;
    text-align: center;
    color:rgba(102,102,102,1);
    margin-top: 10px;
    margin-right: 11px;
}
.bodySystems li:nth-child(3n) {
    margin-right: 0
 }
 .left_main_topR {
    float: left;
    width: 54.5%;
    background: #FFFFFF;
    box-shadow:-1px 1px 8px 0px #ccc;
    border-radius:4px;
    height: 100%;
 }
 .left_main_topR img {
     vertical-align: middle;
 }
 .titleMsg1 {
   color: #e93d52;
   vertical-align: middle;
   margin-left: 18px;
   display: inline-block;
   width: 83%;
 }
 .left_main_bottom {
    height: 600px;
    background: #FFFFFF;
    box-shadow:-1px 1px 8px 0px #ccc;
    margin-top: 20px;
    border-radius:4px;
 }
 .title-bottom {
    height:48px;
    border-bottom: 1px solid #EEEEEE;
    line-height: 48px;
 }
 .title-bottom img {
     vertical-align: middle;
     margin-left: 18px; 
 }
 .entryInfo {
    padding: 40px;
 }
 .entryInfo li {
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
 }
 .round2 {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1D82F0;
    border-radius: 50%;
 }
 .entryInfo_contents {
    display: inline-block;
    width:88%;
    margin: 0 11px;
    /* overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap; */
 }
 .BusinessList {
    height: 549px;
    padding: 30px 50px 30px 50px;
 }
 .BusinessLi {
    width:15.6%;
    height:180px;
    position: relative;
    border-radius:6px;
    float: left;
    text-align: center;
    border: 1px solid #eeeeee;
    /* margin-right: 5%; */
    margin-left: 7%;
    margin-top: 50px;
    padding-top: 40px;
    cursor:pointer; 
 }
 .BusinessLi p {
    margin-top: 12px;
 }
 .main-right {
    float: left;
    width: 20%;
    margin-top: 30px;
 }
 .main-right-day {
    height:588px;
    background:#fff;
    border-radius:4px;
    margin-bottom: 22px;
 }
 /* 日历 */
 .rightMain-title {
    background: #E1EEFD;
 }
 .icon-time {
     padding-top: 30px;
     color: #0E7FF4;
     font-family:Microsoft YaHei;
     text-align: center;
 }
 .icon-time img{
     vertical-align: middle;
 }
 .icon-time span{
    vertical-align: middle;
}
 .main-right-bottom {
    height: 124px;
    background:#fff;
    margin-bottom: 9px;
    cursor:pointer;
    padding-left: 20px;
 }
 .main-right-bottom img {
     float: left;
     margin-top: 30px;
 }
 .bottomName {
     float: left;
     width: 60%;
     margin-left: 15px;
     margin-top: 50px;
 }
 .bottomName p {
     margin-bottom: 5px;
 }
 .jiao {
    margin-top: 50px !important;
    margin-left: 20px;
 }
 .urlList {
     position: absolute;
     top: 0;
     left: 160px;
     width: 177px;
     max-height: 180px;
     text-align: center;
     overflow-y:auto;
     background:#fff;
     border:1px solid #ECF6FF;
     display: none;
     z-index: 333;
 }
 .urlList li {
    border-bottom: 1px solid #F0F6FE;
    height: 49px;
    line-height: 49px;
    font-size:14px;
    color: #555555;
    padding: 0 10px;
    cursor:pointer;
  }
  .urlList li:hover {
    background-color: #ffffff;
    color: #66b1ff;
  }
  .bac {
    background:#F4F9FF;
    border:1px solid #BBCEFF;
  }
  /* .tooltip:before{
    content: "";
    position: absolute;
        margin-left: -10px;
        top: 10px;
        left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #F0F6FE transparent transparent;
  }
  .tooltip:after{
    content: "";
    position: absolute;
     margin-left: -10px;
    top: 10px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
  } */
  .dialog {
    width: 100%;
    height: 1150px;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0f000000,endColorstr=#0f000000);
    background: rgba(0, 0, 0, 0.8);
    z-index: 10001;
    display: none;
  }
  .dialogListInfo {
    width: 100%;
    height: 1150px;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0f000000,endColorstr=#0f000000);
    background: rgba(0, 0, 0, 0.8);
    z-index: 10001;
    display: none;
  }
  .add {
    width: 100%;
    height: 1150px;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0f000000,endColorstr=#0f000000);
    background: rgba(0, 0, 0, 0.8);
    z-index: 10001;
    display: none;
  }
  .body {
      width: 700px;
      height: 500px;
      position: absolute;
      background: #fff;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 999;
  }
  .infoBody {
    width: 700px;
    height: 500px;
    position: absolute;
    background: #fff;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999; 
  }
  .addinfoBody {
    width: 700px;
    height: 500px;
    position: absolute;
    background: #fff;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999; 
  }
  .bodytitle{
    background-color: #E1EEFD;
    height: 50px;
    line-height: 50px;
    padding-left:20px; 
  }
  .content-Bodys {
      height: 300px;
      overflow-y: auto;
      padding: 20px;
  }
  .content-Bodys li {
    cursor:pointer;
    height: 35px;
    line-height: 35px;
    font-size: 14px; 
  }
  .deleteRow {
    color: #66b1ff;
    cursor:pointer;
    font-size: 14px;
  }
  .Btn button {
      width: 80px;
      height: 35px;
      background: #1D82F0;
      border: none;
      color: #ECF6FF;
      font-size:14px;
      font-weight: 700;
  }
  .Btn {
      text-align: center;
      margin-top: 50px;
  }
  .oneLeft, .oneright {
      width: 50%;
      float: left;
      margin-bottom: 20px;
  }
  .infoName {
      width: 110px;
      display: inline-block;
      text-align: right;
      height: 40px;
  }
  .listInfoBody, .addBody {
      padding: 30px;
  }
  .inputs {
    height: 30px;
    line-height: 30px;
    width: 200px;
  }
  .infoContent {
     display: inline-block;
      width: 190px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #ccc;
      padding-left: 10px;
  }
  .addBodyLeft {
      float: left;
  }
  .addBodyright {
    float: left;
    }
  .twoleft {
    margin-bottom: 20px;
  }
  .textAreas {
    display: inline-block;
    width:  100%;
    height: 100px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-top: 10px;
  }
  .calendar-row .left {
    color: #010101;
    font-size:20px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(1,1,1,1);
    line-height:29px;
    margin: 0 20%;
  }
  .calendar-row .right {
    color: #154F8E;
    font-weight: 700;
    font-size: 18px;
  }
  .calendar-row {
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-right: 3px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 8px;
    cursor: pointer;
}
.calendar-content {
    padding-left: 15px;
}
.calendar-content .cells {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-right: 13px;
    width: 35px;
    height: 35px;
    font-size:15px;
    font-family:PingFang;
    font-weight:bold;
    color:#8A857C;
    margin-bottom: 20px;
  }
  .calendar-days {
    overflow: hidden;
  }
  .calendar-content .cell{
    float: left;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    color: #292621;
    font-weight: bold;
    font-size:15px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 17px ;
    cursor:pointer;
  }
  .notCurrenrMonth {
    color: #ccc !important;
  }
  .todays {
    background: #0E7FF4;
    color: #ffffff !important;
    border-radius: 4px;
    border-radius: 50%;
   }
   .Select {
    background: #0E7FF4;
    border-radius: 50%;
    color: #ffffff !important;
   }